<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>
   <property name="show_sql">false</property>

   <!-- Assume test is the database name -->
   <property name="hibernate.connection.url">
      jdbc:mysql://localhost/biosynth_test
   </property>
   <property name="hibernate.connection.username">
      root
   </property>
   <property name="hibernate.connection.password"></property>
   <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

   <mapping class="edu.uminho.biosynth.core.components.biocyc.BioCycMetaboliteEntity"></mapping>
   <mapping class="edu.uminho.biosynth.core.components.biocyc.components.BioCycMetaboliteCrossReferenceEntity"></mapping>
   <!--  
   <mapping class="edu.uminho.biosynth.core.components.biocyc.BioCycReactionEntity"></mapping>
   <mapping class="edu.uminho.biosynth.core.components.biocyc.components.BioCycReactionLeftEntity"></mapping>
   <mapping class="edu.uminho.biosynth.core.components.biocyc.components.BioCycReactionRightEntity"></mapping> -->

   <mapping class="edu.uminho.biosynth.core.components.kegg.KeggMetaboliteEntity"></mapping>
   <mapping class="edu.uminho.biosynth.core.components.kegg.components.KeggMetaboliteCrossReferenceEntity"></mapping>
   
   <mapping class="edu.uminho.biosynth.core.components.kegg.KeggReactionEntity"></mapping>
   
   <mapping class="edu.uminho.biosynth.core.components.bigg.BiggMetaboliteEntity"></mapping>
   <mapping class="edu.uminho.biosynth.core.components.bigg.components.BiggMetaboliteCrossReferenceEntity"></mapping>
   <mapping class="edu.uminho.biosynth.core.components.bigg.BiggReactionEntity"></mapping>
   <mapping class="edu.uminho.biosynth.core.components.bigg.components.BiggReactionCrossReferenceEntity"></mapping>
   
   <mapping class="edu.uminho.biosynth.core.components.mnx.MnxMetaboliteEntity"></mapping>
   <mapping class="edu.uminho.biosynth.core.components.mnx.components.MnxMetaboliteCrossReferenceEntity"></mapping>
   <mapping class="edu.uminho.biosynth.core.components.mnx.MnxReactionEntity"></mapping>
   <mapping class="edu.uminho.biosynth.core.components.mnx.components.MnxReactionProductEntity"></mapping>
   <mapping class="edu.uminho.biosynth.core.components.mnx.components.MnxReactionReactantEntity"></mapping>
   <mapping class="edu.uminho.biosynth.core.components.mnx.components.MnxReactionCrossReferenceEntity"></mapping>
</session-factory>
</hibernate-configuration>